<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Daily Journal</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">Daily Journal</div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox">
            <label for="checkbox" class="hamburger">&#9776;</label>
            <div class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </div>
        </ul>
    </nav>
    <div class="container">